@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Teko', sans-serif;
}


body {
  max-width: 100vw;
  margin-right: 10%;
  margin-left: 10%;
}

