$primary: #9f6000;
$lm-bg: #fff;
$dm-bg: #000;
$lm-text: #000;
$dm-text: #fff;
$input-bg: rgba(159, 96, 0, 0.4);
$placeholder: rgba(0, 0, 0, 0.5);


:export {
    primaryColor: $primary;
    lmBg: $lm-bg;
    dmBg: $dm-bg;
    lmText: $lm-text;
    dmText: $dm-text;
    inputBg: $input-bg;
    placeholder: $placeholder;
  }